<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<div class="inventory-stock">
    <div class="main">
        <div class="title-block">
            <div style="width: 50vw; display: flex; align-items: center;">
            <a href="/locations"><img src="assets/assests/Images/back-arrow.png" width="50px"></a>
            <h1 class="title">South Africa - Inventory Stock</h1>
            </div>
            <button class="button"><a href="/craftSA">Craft</a></button>
        </div>
        <div class="left">
            <app-inventory-item *ngFor="let item of inventory" [item]="item" class="card" (click)="setSelectedItem(item)"></app-inventory-item>
        </div>
        <div class="right">
            @if(selectedInventory) {
                <h1 class="title-right">{{selectedInventory.name}} - <b class="category">{{selectedInventory.main_category}}</b></h1>
                <div class="dummy-background-big">
                    <img [src]="selectedInventory.image" height="150px" >
                </div>
                <div style="height: 3.5vh; width: 15vw; display: flex; margin-bottom: 1vh;">
                    <img class="flag" src="assets/assests/Images/South_African_Flag.svg">
                    <h3 class="location">South Africa</h3>
                </div>
                <a style="font-weight: 400;
                font-size: 20px;
                color: #F1F1F1;
                margin: 0;">To transfer items from another location please select a location from the dropdown box down below and then choose an amount.
                    incididunt ut labore </a>
                    <div class="dropdown-box">
                        <select class="dropdown">
                            <option>Select Location</option>
                            <option>South Korea</option>
                            <option>Japan</option>
                        </select>
                        <img src="/assets/assests/Images/down-arrow.svg" class="arrow">
                    </div>
                    <p class="amount">{{selectedInventory.amount_avaible}}</p>
                    <div class="bottom-right">
                        <input type="number" id="amount" min="1" max="100" [value]="selectedInventory.amount_avaible" (change)="updateAmount($event)"/>
                        <button type="submit" class="update" (click)="saveAmount()">Update</button>
                    </div>
            }
            
            
        </div>

    </div>
    <!-- <mat-card class="card">
        <mat-card-header class="title"> 
            About Us
        </mat-card-header>
        <mat-card-content class="subtitle">
            Welcome to &ME Entertainment, your hub for cutting-edge K-pop albums produced across South Africa, 
            South Korea, and Japan. Our dynamic team of artists and producers creates a unique blend that celebrates 
            diversity and innovation in the heart of K-pop. Join us on this global musical journey with &ME 
            Entertainment – where K-pop excellence knows no borders.
        </mat-card-content>
    </mat-card> -->
</div>

<div class="bottom-nav-background">
</div>