    <!-- <img src="assets/assests/Images/Dashboard_BG.jpg" class="background_img"   width="1450" height="773"> -->

    <div class="inventory-stock">
        <div class="main">
            
            <div class="box">
                <mat-card class="example-card">
                    <mat-card-header > 
                        <img src="assets\assests\Images\South_African_Flag.svg" class="loc">
                    </mat-card-header>
                    <mat-card-content class="body">
                        <mat-card-title class="title">
                            South Africa
                        </mat-card-title>
                            <br>
                        <mat-card-subtitle class="subtitle">
                            <p>Highest Stock: {{max}}</p>
                            <p>Items: {{rows}}</p>
                            <p>Craftable Items: {{rowscraft}}</p>
                            <p>Total Inventory: {{totalInventory1}}</p>
                        </mat-card-subtitle>
                            <br>
                        <button class="button"><a href="/inventory-stock-SA">View Location</a></button>
                    </mat-card-content>
                </mat-card>
            
                <mat-card class="example-card1">
                    <mat-card-header> 
                        <img src="assets\assests\Images\South_Korea_Flag.svg" class="loc">
                    </mat-card-header>
                    <mat-card-content class="body">
                        <mat-card-title class="title">
                            South Korea
                        </mat-card-title>
                            <br>
                        <mat-card-subtitle class="subtitle">
                            <p>Highest Stock: {{maxtwo}}</p>
                            <p>Items: {{rowstwo}}</p>
                            <p>Craftable Items: {{rowscrafttwo}}</p>
                            <p>Total Inventory: {{totalInventory2}}</p>
                        </mat-card-subtitle>
                            <br>
                        <button class="button"><a href="/inventory-stock-SK">View Location</a></button>
                    </mat-card-content>
                </mat-card>
            
                <mat-card class="example-card2">
                    <mat-card-header> 
                        <img src="assets\assests\Images\Japan_Flag.svg" class="loc">
                    </mat-card-header>
                    <mat-card-content class="body">
                        <mat-card-title class="title">
                            Japan
                        </mat-card-title>
                            <br>
                        <mat-card-subtitle class="subtitle">
                            <p>Highest Stock: {{maxthree}}</p>
                            <p>Items: {{rowsthree}}</p>
                            <p>Craftable Items: {{rowscraftthree}}</p>
                            <p>Total Inventory: {{totalInventory3}}</p>
                        </mat-card-subtitle>
                            <br>
                        <button class="button"><a href="/inventory-stock-JP">View Location</a></button>
                    </mat-card-content>
                </mat-card>
            </div>
        
        </div>
        
        
    </div>
