<head>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<!-- <nav>
  <ul>
    <li><a routerLink="/landing" routerLinkActive="active" ariaCurrentWhenActive="page">Landing</a></li>
    <li><a routerLink="/authentication" routerLinkActive="active" ariaCurrentWhenActive="page">Authentication</a></li>
    <li><a routerLink="/locations" routerLinkActive="active" ariaCurrentWhenActive="page">Locations</a></li>
    <li><a routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
    <li><a routerLink="/inventory-stock" routerLinkActive="active" ariaCurrentWhenActive="page">Inventory Stock</a></li>
    <li><a routerLink="/craft" routerLinkActive="active" ariaCurrentWhenActive="page">Craft</a></li>
  </ul>
</nav> -->
<div class="top">
  <nav class="nav-background">
    <a routerLink="/landing" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="logo" src="../assets/assests/Images/Logo.svg"></a>
    <a class="nav-text" routerLink="/locations" routerLinkActive="active" ariaCurrentWhenActive="page">Locations</a>
    <div class="nav-right">
      <a class="nav-text" routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
      <a class="nav-text" routerLink="/authentication" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    </div>
  </nav>
  
</div>






<router-outlet />
