<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  </head>

<div class="about-us">
    <mat-card class="card">
        <mat-card-header class="title"> 
            About Us
        </mat-card-header>
        <mat-card-content class="subtitle">
            Welcome to &ME Entertainment, your hub for cutting-edge K-pop albums produced across South Africa, 
            South Korea, and Japan. Our dynamic team of artists and producers creates a unique blend that celebrates 
            diversity and innovation in the heart of K-pop. Join us on this global musical journey with &ME 
            Entertainment – where K-pop excellence knows no borders.
        </mat-card-content>
    </mat-card>
</div>

<div class="bottom-nav-background">
</div>

<div class="inventory-stock1">
    <div class="main">
        <mat-card class="example-card">
            <mat-card-header class="title"> 
                About Us
            </mat-card-header>
            <mat-card-content class="subtitle">
                Welcome to &ME Entertainment, your hub for cutting-edge K-pop albums produced across South Africa, 
                South Korea, and Japan. Our dynamic team of artists and producers creates a unique blend that celebrates 
                diversity and innovation in the heart of K-pop. Join us on this global musical journey with &ME 
                Entertainment – where K-pop excellence knows no borders.
            </mat-card-content>
        </mat-card>
    </div>
</div>   