.background_img {
    margin-top: -120px;
    margin-bottom: -10px;
}

.example-card {
    width: 500px;
    height: 540px;
    padding: 20px;
    background-color:rgba(56, 3, 86, 0.7);
    color: white;
    margin-top: -610px;
    margin-left: 820px;
}

.title {
    font-weight: bold;
    font-size: 37pt;
    margin-bottom: 20px;
}

.subtitle{
    font-size: 20pt;
    color: white;
}